
.imgRow{
    background-image: url('./imgheader.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    width: 100%;
  

    height: 70vh;
    .row{
        color: white;
       text-align: end;
      
       height: 70vh;
       padding-right: 20px;
    
       padding-top: 25vh;

    
        
    }
    
  
}
